@model AlgorizaApplicants.DAL.DTOs.ApplicantDTO

<form method="post" class="needs-validation">
    <div class="border-3 mt-4">
        <div class="row bp-2">
            <h2 class="text-primary"> Add An Applicant </h2>
            <hr/>
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" type="text" minlength="5 "required="true" class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="FamilyName"></label>
            <input asp-for="FamilyName" type="text" minlength="5" required="true" class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="Address"></label>
            <input asp-for="Address" type="text" minlength="10" required="true" class="form-control"/>
        </div>
        <div class="mb-3 has-validation">   
            <label asp-for="CountryOfOrigin"></label>
            <input asp-for="CountryOfOrigin" id="countryOfOrigin" onchange="return ValidateCountry()" type="text" required="true" placeholder="Egypt, Berlin, Etc.." class="form-control"/>
            <div class="invalid-feedback" id="countryError"></div>
        </div>
        <div class="mb-3">
            <label asp-for="EmailAddress"></label>
            <input asp-for="EmailAddress" type="email" required="true" class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="Age"></label>
            <input asp-for="Age" type="number" min="20" max="60" required="true" class="form-control"/>
        </div>
        <div class="mb-3 form-check">
            <input class="form-check-input"  asp-for="Hired" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
                Hired?
            </label>
        </div>
        <button type="submit" id="btn_add" class="btn btn-primary" disabled style="width:150px">Add</button>
        <a asp-controller="ApplicantsFV" asp-action="Applicants"  class="btn btn-secondary" style="width:150px"> Back To List </a>
    </div>
</form>

<script src="lib/jquery/dist/jquery.min.js"></script>

<script>
  function ValidateCountry() {
      const inpObj = document.getElementById("countryOfOrigin").value;
      return fetch('https://localhost:7228/api/Countries/Validate/' + inpObj,
              {
                  method: 'Get'
              })
          .then((response) => {
              if (response.status != 200) {
                  document.getElementById("countryError").innerText = "Not Valid Country";
                  document.getElementById("countryOfOrigin").classList.add('is-invalid');
                  document.getElementById("btn_add").setAttribute('disabled', true);
                  return false;
              }
              document.getElementById("btn_add").removeAttribute('disabled');
              document.getElementById("countryOfOrigin").classList.remove('is-invalid');
              return true;
          });
  }
</script>
